.Card {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    white-space: nowrap;
    margin: 50px auto;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
}

.cardContent span {
    font-weight: bold;
}

.Heading {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}

.cardFooter {
    margin: auto;
    width: 80%;
}