.productContainer {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.descriptionContainer {
    width: 80%;
    margin: auto auto 25px auto;
}

.descriptionContainer span {
    display: inline-block;
    background: #999592;
    color: #fff;
    padding: 5px 5px;
}

.imageContainer {
    width: 300px;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}

@media screen and (min-width: 768px){
    .pageContainer {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .heading {
        display: flex;
        justify-content: space-between;
        min-width: 200px;
        max-width: 60%;
        font-size: 36px;
        margin: 50px auto auto auto;
    }

    .descriptionContainer {
        width: 30%;
    }
    .productContainer {
        justify-content: space-between;
    }

    .imageContainer {
        width: 300px;
    }
}