.container {
    width: 85%;
    margin: 50px auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: white;
}

.userContent {
    padding: 50px 0;
}

.mainIcon {
    font-size: 64px;
    color: #8f7dee;
}

.credentials {
    text-transform: capitalize;
}

.showOrdersBtn {
    background: #8f7dee;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 9px;
    width: 160px;
    height: 35px;
    cursor: pointer;
    display: block;
    margin: auto;
}

