.item {
    padding: 20px 60px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.cartBlock {
    width: calc(100vw - 25px);
    margin: auto;
}

.cartBlockModified {
    background: rgba(0,0,0, 0.7);
    width: 80vw;
    margin: auto;
}

.item:last-child, .itemModified:last-child {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}
.buttons {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.deleteBtn {
    cursor: pointer;
}
.deleteBtn {
    width: 25px;
    height: 25px;
    border: none;
    background: url(/images/delete-icon.svg) no-repeat center;
}

.quantity {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.quantityCount {
    margin: auto;
    padding: 0;
}

.plusBtn, .minusBtn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.image {
   position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.image img {
    width: 12vw;
    height: auto;
}

.description {
    position: relative;
    padding-left: 40px;
    line-height: 48px;
    font-size: 16px;
}

.descriptionModified {
    position: relative;
    padding-left: 20px;
    line-height: 32px;
    font-size: 16px;
}

.itemModified {
    padding: 20px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.description p {
    margin: 0;
    padding: 0;
}

.totalPrice {
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px){
    .cartBlock {
        width: 100%;
        margin-right: 80px;
    }

    .cartBlockModified {
        background: rgba(0,0,0, 0.4);
        width: 500px;
        margin: auto;
    }

    .descriptionModified {
        position: relative;
        padding-left: 20px;
        font-size: 16px;
    }

    .itemModified {
        padding: 20px;
        height: 150px;
        display: flex;
        position: relative;
        justify-content: flex-start;
    }

    .item {
        height: 150px;
    }

    .quantity {
        width: 100px;
    }

    .image {
        margin-left: 50px;
    }

    .image img {
        width: 80px;
        height: auto;
    }

    .description {
        font-size: 20px;
        line-height: 72px;
    }

    .totalPrice {
        font-size: 16px;
    }
}

