.container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 100px;
}

.shipTo {
    align-items: flex-end;
    text-align: right;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 15px;
}


@media screen and (max-width: 768px){
    .container{
        width: 100%;
        display: block;
    }
}